name: main
on:
  push:
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ runner.os }}-${{ hashFiles('.nvmrc') }}-cache

      - name: Install dependencies
        working-directory: .
        run: yarn

      - name: Check formatting
        working-directory: .
        run: yarn format:check

      - name: Run linter
        working-directory: .
        run: yarn lint:check

      - name: Build application
        working-directory: .
        env:
          REACT_APP_API_URL: ''
          REACT_APP_API_KEY: ''
          REACT_APP_RECAPTCHA_SITE_KEY: ''
          REACT_APP_GOOGLE_MAPS_API_KEY: ''
        run: yarn build
