[data-reach-dialog-content] {
    width: 50vw;
    margin: 10vh auto;
    background: white;
    padding: 2rem;
    outline: none;
}@media screen and (max-width: 768px) {
  [data-reach-dialog-content] {
    width: 95% !important;
    margin: 10vh auto !important;
  }
}
